# Rename update with feeder specific data and rename to .env

# Homebridge
MQTTTHING_URL=mqtt://localhost:1883
MQTTTHING_USERNAME=mqtt-username
MQTTTHING_PASSWORD=mqtt-password

# Zigbee2MQTT
ZIGBEE2MQTT_CONFIG_MQTT_SERVER=mqtt://mosquitto:1883
ZIGBEE2MQTT_CONFIG_MQTT_USER=zigbee-mqtt-user
ZIGBEE2MQTT_CONFIG_MQTT_PASSWORD=zigbee-mqtt-password

# rtl433
RTL433_MQTT_SERVER=mqtt://mosquitto:1883
RTL433_MQTT_USER=rtl422-mqtt-user
RTL433_MQTT_PASSWORD=rtl422-mqtt-password

# Tailscale
TS_AUTH_KEY=tskey-auth-1234567890

# Caddy
CADDY_CERT_DOMAIN=my_tailnet_hostname
CADDY_UPSTREAM1=my_upstream_1
CADDY_UPSTREAM2=my_upstream_2
CADDY_UPSTREAM3=my_upstream_3
CADDY_UPSTREAM4=my_upstream_4
CADDY_UPSTREAM5=my_upstream_5
CADDY_LABEL1="Label Name 1"
CADDY_LABEL2="Label Name 2"
CADDY_LABEL3="Label Name 3"
CADDY_LABEL4="Label Name 4"
CADDY_LABEL5="Label Name 5"
